{{ partial "htmlopen" . }}

{{ partial "siteheader" . }}

<section class="Layout-body">

    <div class="Content">
	<header class="Content-header">
	    <h1 class="Content-title">{{ .Page.Title }}</h1>
	    {{ if .Page.Params.image }}
	    <figure>
		<img src="{{ .Page.Params.image }}">
	    </figure>
	    {{end}}
	</header>

	<main class="Content-body">
	    {{ .Page.Content}}
	</main>

	<div class="Content-footer">
	    {{ if .Page.Params.Price }}
	    <p class="Content-price">
		Price: {{ .Page.Params.Price }}
	    </p>
	    {{ if .Page.Params.soldout }}
	    <span class="Content-buy">Soldout</span> 
	    {{ else }}
	    <a href="{{ .Page.Params.orderUrl }}" class="Content-buy">
		Order
	    </a>
	    {{ end }}
	    {{ end }}
	</div>
    </div>
</section>

{{ partial "htmlclose" }}
